a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {    
    color: black;
  }

.previous {
    background-color: #d42769;
    color: white;
    border-radius: 5px;
  }
  
.next {
    background-color: #d42769;
    color: white;
    border-radius: 5px;
  }

  /*Navbar*/
  .navbar-bg {
    background-color: #0f118a;
    color: white;    
  }
  .footer-bg {
    background-color: #0f118a;
    color: white;    
  }

  fieldset{
    margin: auto;
    max-width: 820px;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 1px;
    align-items: center;
  }
  
  legend {
    padding: 1px 2px;
    background: aliceblue;          
  }
  .error {
    color: red;
    font-size: 90%;
  }
  footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }